<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>首页</title>
		<link rel="icon" th:href="@{/images/favicon.ico}">
		<link rel="stylesheet" th:href="@{/lib/layui-v2.6.3/css/layui.css}" media="all">
		<link rel="stylesheet" th:href="@{/css/index.css}">
	</head>
	<body>
		<!-- 头部 -->
		<script th:src="@{/js/common/nav.js}" type="text/javascript" charset="utf-8"></script>
		
		<!-- 中间 -->
		<div class="layui-bodyer">
			<!-- 主体 -->
			<div class="m-padded-tb-large">
				<div class="layui-container">
					<div class="layui-row">
						<!-- 右边 -->
						<div class="layui-col-md7 layui-col-md-offset1">
			
							<fieldset class="layui-elem-field" style="width: 600px;">
								<legend class="m-text-h2">公告</legend>
								<div class="m-padded-tb-smaller">
									<!-- 公告1 -->
									<fieldset class="layui-elem-field">
										<div class="layui-field-box">
											<div class="layui-row">
												<div class="layui-col-md7">
													<a class="m-text-h3">标题1</a><br>
													<button type="button"
														class="layui-btn layui-btn-xs layui-btn-primary layui-border-red">发布人</button>
												</div>
												<div class="layui-col-md2 layui-col-md-offset3">
													<button type="button" class="layui-btn layui-btn-xs"
														style="color: white">发布时间</button>
													<p style="padding-top: 10px;">2022-04-02</p>
												</div>
											</div>
										</div>
									</fieldset>
									<!-- 公告1 -->
									<fieldset class="layui-elem-field">
										<div class="layui-field-box">
											<div class="layui-row">
												<div class="layui-col-md7">
													<a style="font-weight: bold">标题1</a><br>
													<button type="button"
														class="layui-btn layui-btn-xs layui-btn-primary layui-border-red">发布人</button>
												</div>
												<div class="layui-col-md2 layui-col-md-offset3">
													<button type="button" class="layui-btn layui-btn-xs"
														style="color: white">发布时间</button>
													<p style="padding-top: 10px;">2022-04-02</p>
												</div>
											</div>
										</div>
									</fieldset>
									
									<!-- 公告1 -->
									<fieldset class="layui-elem-field">
										<div class="layui-field-box">
											<div class="layui-row">
												<div class="layui-col-md7">
													<a style="font-weight: bold">标题1</a><br>
													<button type="button"
														class="layui-btn layui-btn-xs layui-btn-primary layui-border-red">发布人</button>
												</div>
												<div class="layui-col-md2 layui-col-md-offset3">
													<button type="button" class="layui-btn layui-btn-xs"
														style="color: white">发布时间</button>
													<p style="padding-top: 10px;">2022-04-02</p>
												</div>
											</div>
										</div>
									</fieldset>
									
									<!-- 公告1 -->
									<fieldset class="layui-elem-field">
										<div class="layui-field-box">
											<div class="layui-row">
												<div class="layui-col-md7">
													<a style="font-weight: bold">标题1</a><br>
													<button type="button"
														class="layui-btn layui-btn-xs layui-btn-primary layui-border-red">发布人</button>
												</div>
												<div class="layui-col-md2 layui-col-md-offset3">
													<button type="button" class="layui-btn layui-btn-xs"
														style="color: white">发布时间</button>
													<p style="padding-top: 10px;">2022-04-02</p>
												</div>
											</div>
										</div>
									</fieldset>
								</div>
			
							</fieldset>
						</div>
						<!-- 左边 -->
						<div class="layui-col-md2 layui-col-md-offset1">
							
							<fieldset class="layui-elem-field">
								<legend class="m-text-h2">留言</legend>
								<div class="layui-field-box">
									<!-- 留言1 -->
									<fieldset class="layui-elem-field">
										<div class="layui-field-box">
											留言1
										</div>
									</fieldset>
									<!-- 留言1 -->
									<fieldset class="layui-elem-field">
										<div class="layui-field-box">
											留言1
										</div>
									</fieldset>
									<!-- 留言1 -->
									<fieldset class="layui-elem-field">
										<div class="layui-field-box">
											留言1
										</div>
									</fieldset>
								</div>
							</fieldset>
			
							<fieldset class="layui-elem-field">
								<legend class="m-text-h2">维修</legend>
								<div class="layui-field-box">
									<!-- 维修1 -->
									<fieldset class="layui-elem-field">
										<div class="layui-field-box">
											维修1
										</div>
									</fieldset>
									<!-- 维修1 -->
									<fieldset class="layui-elem-field">
										<div class="layui-field-box">
											维修1
										</div>
									</fieldset>
									<!-- 维修1 -->
									<fieldset class="layui-elem-field">
										<div class="layui-field-box">
											维修1
										</div>
									</fieldset>
								</div>
							</fieldset>
			
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--底部-->
		<script th:src="@{/js/common/footer.js}" type="text/javascript" charset="utf-8"></script>

		<script th:src="@{/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
		<script th:inline="javascript">
		var ctxPath = [[@{/}]];
			//注意：导航 依赖 element 模块，否则无法进行功能性操作
			layui.use('element', function() {
				var element = layui.element;
			});

		</script>

	</body>
</html>
