<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- dao映射源文件（com.dsp.dao.StudentDao） -->
<mapper namespace="com.dsp.mapper.MaintainMapper">
    <resultMap id="maintainMap" type="com.dsp.domain.Maintain">
        <id property="mId" column="m_id"/>
        <result property="mContent" column="m_content"/>
        <result property="mReleaseTime" column="m_release_time"/>
        <result property="mResult" column="m_result"/>
        <result property="mState" column="m_state"/>
        <result property="userId" column="user_id"/>
        <association property="user" javaType="com.dsp.domain.User">
            <id property="uId" column="u_id"/>
            <result property="uName" column="u_name"/>
            <result property="uPassword" column="u_password"/>
            <result property="uSex" column="u_sex"/>
            <result property="uPhone" column="u_phone"/>
            <result property="username" column="u_username"/>
            <result property="uPay" column="u_pay"/>
            <result property="uImg" column="u_img"/>
        </association>
    </resultMap>

    <select id="selectMaintainList" resultMap="maintainMap">
        select * from maintain
    </select>

    <select id="selectMaintainAndLike" parameterType="com.dsp.domain.Maintain" resultMap="maintainMap">
        select * from maintain
        <where>
            <if test="startDate != null">
                <![CDATA[
                and m_release_time >= #{startDate}
                ]]>
            </if>
            <if test="endDate != null">
                <![CDATA[
                and m_release_time <= #{endDate}
                ]]>
            </if>
        </where>
    </select>

    <select id="selectById" resultMap="maintainMap">
        select * from maintain
        <where>
            <if test="id != null">
                m_id = #{id}
            </if>
        </where>
    </select>

    <select id="selectMaintainListByUserId" resultMap="maintainMap">
        select * from maintain
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>
        </where>
    </select>

</mapper>