<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- dao映射源文件（com.dsp.dao.StudentDao） -->
<mapper namespace="com.dsp.mapper.UnitMapper">

    <resultMap id="unitMap" type="com.dsp.domain.Unit">
        <id column="t_id" property="tId"/>
        <result column="t_name" property="tName"/>
        <result column="building_id" property="BuildingId"/>
        <association property="build" javaType="com.dsp.domain.Building">
            <id column="b_id" property="bId"/>
            <result column="b_name" property="bName"/>
            <result column="b_type" property="bType"/>
        </association>
    </resultMap>

    <!--查询所有-->
    <select id="selectListUnit" resultMap="unitMap">
        SELECT u.t_id, u.t_name, b.b_name, b_type,building_id
        FROM unit u, building b
        where u.building_id = b.b_id
    </select>

    <!--id查询-->
    <select id="selectUnitById" parameterType="int" resultMap="unitMap" >
        SELECT u.t_id, u.t_name, b.b_name, b_type,building_id
        FROM unit u, building b
        where u.building_id = b.b_id AND u.t_id = #{id}
    </select>

    <!--根据name模糊查询-->
    <select id="selectUnitByNameAndLike" parameterType="com.dsp.domain.Unit" resultMap="unitMap">
        SELECT u.t_id, u.t_name, b.b_name, b_type,building_id
        FROM unit u, building b
        where u.building_id = b.b_id AND u.t_name LIKE concat('%',#{tName},'%')
    </select>
    <!--添加-->
    <insert id="insertUnit">
        INSERT INTO unit(t_name,building_id)
        VALUES(#{unitName},#{bId});
    </insert>

</mapper>